$bootstrap-img: '../assets/bootstrap.png';
$foundation-img: '../assets/foundation.png';
$nucleon-img: '../assets/nucleon.png';
$vscode-img: '../assets/vsc-2.png';
$prepros-img: '../assets/prepros.png';
$firefox-img: '../assets/firefox.png';

$primary-color: #ECECEC;
$secondary-color: #22A7F0;

$wall: '../assets/wall.min.jpg';

$text-color: #141414;
$amount: 20%;

$img-size-large: 60px;
$img-size-small: 55px;
$img-size-very-small: 50px;

$primary-font-family: 'Roboto';
$secondary-font-family: 'Fira Sans';

$border-color: rgba(0,0,0,.1);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

body{
    font: 400 16px/24px $primary-font-family,'Helvetica Neue','Arial',sans-serif;
    height: 100%;
    background-color: $primary-color;
    color: $text-color;
}

a{
    color: inherit;
    text-decoration: none;
}

/*
---------------------------------------------------------------------------------
    Clearfix
---------------------------------------------------------------------------------
*/

.cf{
    content: "";
    display: table;
    clear: both;
}

/*
---------------------------------------------------------------------------------
    Navigation Container
---------------------------------------------------------------------------------
*/

.wrapper{
    max-width: 920px;
    margin: 0 auto;
    margin-bottom: 6rem;
    padding-bottom: 2rem;
    height: 100%;
    border-bottom: thin solid $border-color; 
}

.nav-container{
    max-width: 920px;
    margin: 0 auto;
    margin-top: 6rem;
    .navigation{
        width: 100%;
        padding: 20px 0;
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        .nav-item{
            display: inline-block;
            vertical-align: middle;
            position: relative;
            li{
                text-transform: uppercase;
                display: inline;
                font-size: 0.7rem;
                letter-spacing: 2px;
                font-weight: 600;  
                margin-right: 15px;
                a.icon-lg{
                    font-size: 1rem;
                }
                &:hover{
                    color: $secondary-color;
                }
            }
        }
        div.icon-hidden{
            transform: translateY(-20px);
            opacity: 0;
        }
        div.icon-shown{
            transform: translateY(0px);
            opacity: 1;
        }
    }
}

.icon-xl{
    font-size: 1.3rem;
}

div#s-icon{
    transition: all 0.2s ease;
}

div#s-icon:nth-of-type(2){
    transition-delay: 0s;
}
div#s-icon:nth-of-type(3){
    transition-delay: .15s;
}
div#s-icon:nth-of-type(4){
    transition-delay: .3s;
}
div#s-icon:nth-of-type(5){
    transition-delay: .45s;
}


/*
---------------------------------------------------------------------------------
    Logo Image
---------------------------------------------------------------------------------
*/

.lm{
    content: "";
    background-image: url('../assets/main.svg');
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
}
.sm{
    height: 25px;
    width: 25px;
}
.mr-sm{
    margin-right: 15px;
}

/*
---------------------------------------------------------------------------------
    Masthead Content
---------------------------------------------------------------------------------
*/

.masthead{
    padding-top: 2rem;
    width: 100%;
    .masthead-heading{
        font-size: 2.4rem;
        line-height: 1.2em;
    }
    .masthead-shorthand{
        margin: 1.2rem auto;
        font-size: 0.7rem;
        text-transform: uppercase;
        letter-spacing: 4px;
        word-spacing: 2px;
    }
    .masthead-description{
        margin-top: 1.2rem;
        font-size: 1.3rem;
        line-height: 1.8;
        font-family: $secondary-font-family;
        p{
            padding-top: 8px;
        }
    }
}

/*
---------------------------------------------------------------------------------
    Work Content
---------------------------------------------------------------------------------
*/

.work-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .work-row{
        height: 100%;
        display: block;
        transition: all 0.2s ease;
        margin: .25rem 0;
        border: 1px solid transparent;
        .view-project{
            display: none;
            position: absolute;
            right: 20px;
            top: 20px;
            transition: all .2s ease;
        }
        .w-col{
            padding: 0.5rem;
            width: 50%;
            height: inherit;
        }
        .col-l{
            float: left;
        }
        .col-r{
            float: right;
        }
        .img-cont{
            border-radius: 10px;
        }
        .w-content{
            font-size: 1.2rem;
            line-height: 1.5;
            span.p-heading{
                display: inline-block;
                position: relative;
                font-family: $secondary-font-family;
                &:hover {
                    color: #22A7F0;
                }
            }
        }
    }
}

.masthead-heading-md{
    font-size: 1.6rem;
}

.tools{
    display: block;
    position: relative;
    margin: 1rem auto;
    .tl-heading{
        font-family: 'Open Sans','Helvetica','HelveticaNeue','Helvetica Neue', 'Arial', sans-serif;   
        color: darken($text-color,$amount);
        font-size: 0.8rem;
        letter-spacing: 2px;
        font-weight: 600;
        text-transform: uppercase;
    }
    .tl-io{
        text-align: center;
        width: $img-size-large;
        height: $img-size-large;
        line-height: $img-size-large;
        display: inline-block;
        position: relative;
        margin: 1rem;
        border: 1px solid #999;
        border-radius: 50%;
        transition: all .2s ease;
        &:hover{
            border: 1px solid #222;
            box-shadow: 0 0 10px rgba(255,255,255,.5);
        }        
        .icon-xl{
            font-size: 2.4rem;
        }
    }
    .ixfit{
        background-size: 75%;
        background-position: center;
        background-repeat: no-repeat;
        filter: grayscale(1);
    }
    .bootstrap{
        background-image: url($bootstrap-img);
    }
    .foundation{
        background-image: url($foundation-img);
    }
    .nucleon  {
        background-image: url($nucleon-img);
    }
    .vscode{
        background-image: url($vscode-img);
    }
    .prepros{
        background-image: url($prepros-img);
    }
    .firefox{
        background-image: url($firefox-img);
    }
}


@media (max-width: 1024px){
    .wrapper{ 
        width: 90%;
        margin-top: 2rem;
        margin-bottom: 1rem; 
    }
    .w-col{
        width: 100%;
    }
    .col-l,
    .col-r{
        float: none;
    }
    .img-cont{
        display: none;
    }
    .tools{
        .tl-io{
            width: $img-size-small;
            height: $img-size-small;
            line-height: $img-size-small;
            margin: 1rem 0.3rem;
            .icon-xl{
                font-size: 3rem;
            }
        }
    }
}

@media all and (max-width:550px){
    .nav-container{
        margin-top: 2rem;
    }
    .masthead {
        width: 95%;
        .masthead-heading{
            font-size: 1.4rem;
            line-height: 2rem;
        }
        .masthead-description{
            font-size: .9rem;
            line-height: 2rem;
        }
    }
    .tools{
        .tl-io{
            width: $img-size-very-small;
            height: $img-size-very-small;
            line-height: $img-size-very-small;
            margin: 1rem 0.3rem;
            .icon-xl{
                font-size: 1.8rem;
            }
        }
    }
    .work-section{
        .work-row{
            display: block;
            .w-content{
                font-size: 1.1rem;
            }
        }
    }
}

@media all and (max-width: 480px){
    .masthead{
        width: 100%;
    }
    .tools{
        .tl-io{
            margin: 1rem 0.2rem;
        }
    }
}
