@media screen and (min-width:1400px){
    .header--container{
      width: 800px;
    }
    .sub--title{
      font-size: 32px;
    }
}

@media screen and (max-width: 960px){
  .logo--container{
    display: block;
    width: 100%;
  }
  nav ul{
    width: 100%;
    display: block;
  }
  nav ul a{
    width: 20%;
  }
  .header--container,
  .content--wrapper{
    height: 100%;
  }
  .header--container{
    width: 100%;
  }
  .content--wrapper{
    width: 500px;
  }
  .main--title{
    height: 80px;
    font-size: 60px;
    padding-bottom: 0;
  }
  .header--container--width--def i{
    padding-top: 50px;
  }
  .sub--title{
    width: 95%;
    margin: 0 auto;
    font-size: 20px;
  }
  .shift{
    transform: translate3d(0,0,0);
  }
  .list--container--main{
    font-size: 16px;
    letter-spacing: 0;
    line-height: 1.8em;
  }
  .list--container--main li{
    border-left: 5px solid #6a737d;
    padding-left: 10px;
  }
  .mail{
    font-size: 14px;
    line-height: 2em;
  }
  .mail a{
    border: 2px solid #6a737d;
    padding:5px 10px;
    display: inline-block;
    color: inherit;
  }
}
