@media all and (max-width:720px){
  .hero h1{
    font-size: 5.6em;
  }
  header h2{
    font-size: 2em;
  }
  header h3{
    width: 100%;
    font-size: 1.4em;
    line-height: 1.5em;
  }
  nav ul{
    width: 100%;
    display: block;
  }
  nav li{
    width: 20%;
  }
}

@media all and (max-width:480px){
  .hero h1{
    font-size: 4.8em;
  }
  nav ul{
    display: table-cell;
    height: auto;
  }
}
