@media all and (max-width:960px){
  .home a{
    display: none;
  }
  .col--1,
  .col--2{
    height: 200px;
  }
  .container--1{
    display: none;
  }
  .project--lead{
    font-size: 2.4em;
  }
  html{
    height: auto;
  }
  .hero--left,
  .hero--right{
    width: 100%;
    height: 200px;
  }
  .hero--right{
    margin-top: 0;
  }
  .hero--left h1{
    font-size: 4em;
  }
  .facebook{
    background-color: #3b5998;
  }

  .twitter{
    background-color: #00aced;
  }

  .github{
    background-color: #24292E;
  }

  .instagram{
    background-color: #bc2a8d;
  }
  h2{
    font-size: 2em;
  }
  h3{
    width: 100%;
    font-size: 1.2em;
    line-height: 1.5em;
  }
  nav{
    position: fixed;
  }
  nav ul{
    width: 100%;
    display: block;
  }
  nav a{
    color: #fff;
    width: 25%;
  }
  .btn--1{
    padding: 20px;
  }
}

@media all and (max-width:480px){
  .hero--left h1{
    font-size: 3em;
  }
  nav ul{
    display: table-cell;
  }
}
