/*Normalize.css by Necolas Gihub Repo*/
@import "https://necolas.github.io/normalize.css/latest/normalize.css";

/*
*  Resetting Everything
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
a:active,
a:focus,
a:hover{
  text-decoration: none;
}

.clearfix:before,
.clearfix:after{
  content: " ";
  display: table;
}
.clearfix:after{
  clear: both;
}
.clearfix{
  *zoom: 1;
}

body{
  font-family: 'Bitter';
  background-color: #272b38;
  /*Fallback to Min-Height when "Inspect Element" is opened */
  min-height: 100%;
}

.container{
  color: #48d8a0;
  width: inherit;
  min-height: 100%;
  min-width: 100%;
}

nav{
  height:50px;
  width: 100%;
  background-color: rgba(108,122,137,0.4);
  position: relative;
}

nav ul{
  padding: 0;
  float: right;
  margin: 0 auto;
  padding-top: 15px;
  width: 500px;
  height: 100px;
}

nav li{
  display: inline;
  float:left;
  width: 100px;
  text-align: center;
}

nav a{
  color: #fff;
  display: inline-block;
  text-align: center;
  line-height: 2em;
}
.social{
  width: 50%;
}

.add--margin{
  margin-right: 20px;
}

.hero{
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
  letter-spacing: 1px;
}

header h1{
  font-size: 6em;
  letter-spacing: 3px;
}

header h1 span{
  color: rgba(108,122,137,0.4);
}

header h2{
  font-size: 3em;
}

header h3{
  width: 80%;
  font-size: 2em;
  line-height: 1.5em;
}

.switch{
  color: rgba(108,122,137,0.6);
  transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -0-transition: color 0.2s linear;
}
.switch:hover,
.switch:active{
  color: rgba(108,122,137,1);
}
