jcsb-flex($direction)
  display flex
  display -webkit-flex
  -moz-display flex
  -ms-display flex
  flex-direction $direction
  -moz-flex-direction $direction
  align-items center
  justify-content space-between

jcs-flex($direction)
  display flex
  display -webkit-flex
  -moz-display flex
  -ms-display flex
  flex-direction $direction
  -moz-flex-direction $direction
  align-items center
  justify-content center

center-div()
  display table-cell
  vertical-align

transition($value)
          transition $value
  -webkit-transition $value
     -moz-transition $value
      -ms-transition $value
       -o-transition $value