@charset "UTF-8";
@import "_functions"
@import "_variables"
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400');

* 
  margin 0
  padding 0
  box-sizing border-box

body
  background-color #fff
  font-family 'Rubik'
  width 100%
  height 100%

a
  text-decoration none
  color inherit

.container
  margin 0 auto
  max-width 1024px

.wrapper
  display block
  height inherit
  
.loader
  z-index 9999
  position fixed
  background linear-gradient(to bottom, dark-blue, blue)
  width 100%
  height 100%
  jcsb-flex(row)
  .ring
    margin 0 auto
    width 50px
    height 50px
    border 2px solid white
    border-radius 50%
    jcsb-flex(row)
    .bar
      margin 0 auto
      width 80%
      height 2px
      background white
      transform-origin 50% 50%
      animation rotate 2s infinite
  
@keyframes rotate 
  0%
    transform rotate(0)
  50%
    transform rotate(180deg)
  100%
    transform rotate(360deg)

.header
  width 100%

.header-wrap
  z-index 9998 
  position fixed
  width 100%
  padding: .5rem 5rem
  background-color #fff
  jcsb-flex(row)

#logo
  float left
  height inherit
  img 
    width 24px
    height auto

.nav-wrap
  position relative
  float right
  ul.nav
    display block
    li
      text-transform uppercase
      display inline
      letter-spacing 1px
      &:last-child
        padding-right 0
      a
        color dark-blue
        padding .5rem 1rem
        transition(all .6s cubic-bezier(cbcv))
        &:hover
          background-color dark-blue
          color white
          
.masthead
  position: relative
  width 100%
  height 650px
  background linear-gradient(to bottom, #155bfb, blue)
  @media (max-width: 720px)
    height 400px
  @media (max-width: 480px)
    height 300px
  display table
  .hero-image
    opacity 0
    z-index 0
    position absolute
    width 80%
    height 100%
    bottom 0
    left 0
    background url(../../assets/hero-transparent.png)
    background-repeat no-repeat
    background-size 80%
    background-position left bottom
    transition(all 2200ms linear)
    transform translateX(50px)
  .hero
    z-index 2
    display table-cell
    vertical-align middle
  .title
    opacity 0
    margin 0 auto
    width 60% 
    max-width 60%
    text-align right
    transition(all 2200ms linear)
    transform translateX(-50px)
    @media (max-width: 480px)
      width 50%
  .title h1
    font-size 2.5rem
    font-weight 300
    line-height 3.5rem
    color white
    @media (max-width: 480px)
      font-size 1.6rem
      line-height 1.8rem
    
.underline 
  position relative
  &::after
    position absolute
    width 150px
    height 2px
    background #fff
    content ''
    bottom -25px
    right 0

.background-adjust
  background-size cover
  background-position center
  background-repeat no-repeat

.tedxchandigarh
  background url('../../assets/work/tedxchd.png')
  
.nucleon
  background url('../../assets/work/nucleon.png')
  
.edcuiet
  background url('../../assets/work/edcuiet.png')

.about
  width 100%
  .about-section
    width 90%

.work-wrap 
  width 100%
  .work-section
    width: 90%
    margin 5rem auto 2rem auto
    text-align center
    .work-title
      padding 0 0 1rem 0
      font-weight 300
      font-size 2rem
      color dark-blue
    .work-grid
      width 100%
      jcsb-flex(row)
      .work-column
        width 30%
        height 300px
        margin 0 1.6666%
        position relative
        transition(all .2s linear)
        .work-main
          height 100%
          width 100%
          .work-text
            opacity 1
            
        img 
          width 100%
        .work-link
          position absolute
          width 100%
          height 100%
          top 0
          display none
          flex-direction column
          justify-content  center
          
.nav-toggle-container 
  display none
  position absolute
  top 10px
  right 20px
  z-index 9999
  .nav-toggle
    width: 40px
    height: 40px 
    position: relative
    jcsb-flex(column)
    cursor: pointer
    overflow: hidden
    span  
      position: absolute
      height: 2px
      display: block
      background: lighten(main-color, 10%)
      margin: 0 auto
      transform: translate3d(0,0,0)
      transition(all .2s linear)
      will-change: transform
      &:nth-child(1)
        width: 20px
        top: 14px
      &:nth-child(2)
        width: 20px
        top: 22px

.is-toggled
  span
    position: absolute
    &:nth-child(1) 
      transform-origin: center
      transform: translateY(6px) rotateZ(45deg)

    &:nth-child(2)
      transform-origin: center
      transform: translateY(-2px) rotateZ(-45deg)

@media (max-width: 720px)
  #logo
    margin-left 20px
    span 
      display none 
  .is-open
    transform translateY(0)
  #nav
    transform translateY(-20px)
  .nav-toggle-container
    display inline-block
