transition($value)
  transition: $value
  -webkit-transition: $value
  -moz-transition: $value
  -o-transition: $value
  -ms-transition: $value

text-rendering($value)
  text-rendering: $value
  -moz-text-rendering: $value

font-smoothing($value)
  font-smoothing: $value
  -webkit-sont-smoothing: $value
  -moz-font-smoothing: $value

center-flex($flex-direction)
  display: flex
  -moz-display: flex
  flex-direction: $flex-direction
  justify-content: center
  align-items: center

// linear-gradient($value)
//   linear-gradient($value)
//   -webkit-linear-gradient($value)
//   -moz-linear-gradient($value)
//   -ms-linear-gradient($value)