/* COLORS */ 
main-color = #141414
lightBlack = lighten(black,13%)
grey = #eee
deep-blue = darken(#222f3e, 20%)
light-blue = #e0eeff

/* TRANSITIONS */
cubic-value = .555,.205,.295,.975
cubic-value-2 = .95,.26,.07,.74