//Imports
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");

//Variables
$primary-font:  'SF Pro Display','Helvetica','Helvetica Neue', 'Arial', sans-serif;
$primary-black: #1E1E1E;
$green: #C0FF00;
$black: #101010;
$lightblack: #4D4D4D;
$blue: #004DFF;
$white: #FFFFFF;
$offwhite: #DDDDDD;

$sm-screen: 720px;
$lg-screen: 960px;

@mixin responsive($media) {
  @if $media == phones {
    @media all and (min-width: 1px) and (max-width: $sm-screen) {
      @content;
    }
  }
  @else if $media == tablets {
    @media all and (min-width: $sm-screen + 1) and (max-width: $lg-screen) {
      @content;
    }
  }
}

::selection {
  color: $black;
  background-color: $white;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-rendering: auto;
  -moz-text-rendering: auto;  
  -webkit-sont-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

.cf::after {
  content: "";
  clear: both;
  display: table;
}

body {
  font: normal 16px/24px $primary-font;
  background-color: $black;
  color: $offwhite;
  width: 100%;
  height: 100%;
}

#particles-js {
  width: 100%;
  height: 99vh;
  position: fixed;
}

.green-text {
  color: $green;
}

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;

  .sub-container {
    width: 50%;
    padding: 6rem;
      @include responsive(phones) {
      width: 100%;
      padding: 4rem 2rem 1rem 2rem;
    }
  
    .say-hello {
      font-size: 8rem;
      @include responsive(phones) {
        font-size: 4rem;
      }
    }
    .introduce {
      font-size: 2rem;
      line-height: 125%;
      padding-top: 6rem;
      @include responsive(phones) {
        font-size: 1.6rem;
        padding-top: 2rem;
      }

      .network {
        list-style: none;
        padding-top: 1rem;

        li {
          margin-top: 5px;
          margin-bottom: 5px;
        }

        .link:hover {
          padding: 4px;
          color: $black;
          background-color: $green;
        }
      }
    }
  }
}

/*----------extras--------*/
.hide {
  display: none;
}

.show {
  display: inline-block;
}

//Font Weights
.fw4 { font-weight: 400; }
.fw5 { font-weight: 500; }
.fw6 { font-weight: 600; }
.fw7 { font-weight: 700; }