@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600&display=swap');

:root {
  --black: #313131;
  --white: #ebebeb;
  --green: #27ae60;
  --blue: #3498db;
  --red: #e74c3c;
  --violet: #8e44ad;
  --yellow: #f1c40f;
}

.green {

}


@media all and (min-width: 700px) {
  body {
    max-width: 100vw;
  }
}

body {
  max-width: 100vw;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-family: 'Work Sans';
  font-weight: 600;
  line-height: 1em;
  background-color: var(--white);
}

span.green {
  color: var(--green);
}

span.highlight {
  color: var(--white); 
  background-color: var(--black);
  position: relative;
  display: inline;
}

p {
  padding: 10px;
  font-size: 8vw;
  line-height: 11vw;
  letter-spacing: -0.5vw;
}

h3 {
  color: #F244C4;
}

h4 {
  color: #009432;
}

a {
  text-decoration: underline;
  color: inherit;
}
