@media all and (max-width: 960px) {
  .container {
    margin: 20px;
    padding: 20px 30px;
    &:after {
      top: 20px;
      left: 20px;
    }
  }
  .main-heading {
    font-size: 48px;
  }
  .intro-para {
    font-size: 24px;
    line-height: 1.1;
  }
}
