@font-face {
  font-family: "HelveticaNow";
  src: url(./HelveticaNowText-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "HelveticaNow";
  src: url(./HelveticaNowText-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "HelveticaNow";
  src: url(./HelveticaNowText-Bold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "HelveticaNow";
  src: url(./HelveticaNowText-ExtraBold.ttf);
  font-weight: 700;
}