@import url("https://fonts.googleapis.com/css?family=PT+Serif|Roboto:100,300,400&display=swap");
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Regular.ttf");
}
::selection {
  color: #FFFFFF;
  background-color: #FFFFFF;
}

::-moz-selection {
  color: #FFFFFF;
  background-color: #FFFFFF;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-rendering: auto;
  -moz-text-rendering: auto;
  -webkit-sont-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  box-sizing: border-box;
  outline: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  letter-spacing: -1px;
}

html {
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

.cf::after {
  content: "";
  clear: both;
  display: table;
}

body {
  font: normal 16px/24px "SF Pro Display", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
  background-color: #FFFFFF;
  color: rgb(58, 58, 58);
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.background-layer {
  background-color: #DDDDDD;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-position: left;
  background-size: cover;
  position: fixed;
}

.name-color {
  color: #b71540;
}

.social {
  list-style-type: none;
  font-weight: bold;
  margin: 20px 0;
  display: inline-block;
}

.social li {
  color: #b71540;
  width: 100%;
  position: relative;
  margin-top: 2px;
  transition: all 0.1s ease-in-out;
}

.social li a {
  padding: 2px 15px 2px 6px;
}

.social li:hover {
  color: #FFFFFF;
}

.social li:before {
  width: 100%;
  height: 100%;
  content: "";
  background-color: #b71540;
  position: absolute;
  z-index: -1;
  transform: translateX(-110%);
  transition: all 0.1s ease-in-out;
}

.social li:hover:before {
  transform: translateX(0%);
}

.placeholder {
  font-size: 3rem;
  padding: 8%;
  line-height: 120%;
}
@media all and (min-width: 1px) and (max-width: 720px) {
  .placeholder {
    letter-spacing: -1px;
  }
}

body.blog-body {
  background-color: #ececec;
  color: #FFFFFF;
  height: auto;
}

#particles-js {
  width: 100%;
  height: 99vh;
  position: fixed;
}

.typed {
  color: #b71540;
  background-color: #DDDDDD;
  padding: 0 5px;
}

.link-old {
  color: #b71540;
}

.green-text {
  color: #b71540;
  background-color: #DDDDDD;
  padding: 0 5px;
}

.container {
  width: 90%;
  height: 100%;
  position: absolute;
  top: 0;
}
.container .sub-container {
  width: 75%;
  padding: 5rem 6rem;
}
@media all and (min-width: 1px) and (max-width: 720px) {
  .container .sub-container {
    width: 100%;
    padding: 3rem 2rem 1rem 2rem;
  }
}
.container .sub-container .profile-picture {
  margin-top: 1.2rem;
  margin-bottom: 1.6rem;
}
.container .sub-container .image-profile {
  width: 256px;
  height: 256px;
  border-radius: 50%;
}
.container .sub-container .say-hello {
  margin-bottom: 2rem;
  color: #666666;
  display: flex;
  font-size: 8rem;
  line-height: 8rem;
}
@media all and (min-width: 1px) and (max-width: 720px) {
  .container .sub-container .say-hello {
    font-size: 4rem;
  }
}
.container .sub-container .say-hello div {
  cursor: pointer;
}
.container .sub-container .introduce {
  font-size: 2rem;
  line-height: 125%;
  margin-top: 1rem;
}
@media all and (min-width: 1px) and (max-width: 720px) {
  .container .sub-container .introduce {
    font-size: 1.6rem;
    padding-top: 2rem;
  }
}
.container .sub-container .introduce .row-container {
  width: 100%;
  position: relative;
  margin: 12px 0;
}
.container .sub-container .introduce .row-container .designs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container .sub-container .introduce .row-container .row-title {
  font-size: 1.8rem;
  font-weight: lighter;
  text-decoration: underline;
  margin-bottom: 1rem;
}
.container .sub-container .introduce .row-container .row-section {
  font-size: 1.4rem;
}
@media all and (min-width: 1px) and (max-width: 720px) {
  .container .sub-container .introduce .row-container .row-section {
    font-size: 1.125rem;
  }
}
.container .sub-container .introduce .row-container .row-section .image-design {
  width: 240px;
  height: 180px;
}
.container .sub-container .introduce .row-container .row-section a.article-link,
.container .sub-container .introduce .row-container .row-section a.code-link {
  padding: 5px 12px;
}
.container .sub-container .introduce .row-container .row-section a.article-link:hover,
.container .sub-container .introduce .row-container .row-section a.code-link:hover {
  background-color: #b71540;
  color: #FFFFFF;
}
.container .sub-container .introduce .network {
  list-style: none;
  padding-top: 1rem;
}
.container .sub-container .introduce .network li {
  display: inline;
}
.container .sub-container .introduce .network .link {
  padding: 2px 4px;
}
.container .sub-container .introduce .network .link:hover {
  color: #FFFFFF;
  background-color: #b71540;
}

.overlay {
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  z-index: 9999;
  border: 2px solid #DDDDDD;
  transform: rotateZ(-90deg);
}

.overlay-hidden {
  transform: translateY(20%);
}

.resume {
  color: #b71540;
  background-color: #000000;
}

.italics {
  font-style: italic;
}

.active {
  color: #b71540;
  position: relative;
}
.active:after {
  position: absolute;
  content: "";
  bottom: -2px;
  left: 3px;
  height: 6px;
  width: 50px;
  background-color: #DDDDDD;
  z-index: 999;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.change-theme {
  margin: 8px 0;
  display: inline-block;
}
.change-theme #theme {
  font-size: 1rem;
  padding: 4px 8px;
  border-radius: 2px;
  color: #b71540;
  background-color: #000000;
}

/*----------extras--------*/
.hide {
  display: none;
}

.underline {
  text-decoration: underline;
}

.pointer-cursor {
  cursor: pointer;
}

.show {
  display: inline-block;
}

.fw4 {
  font-weight: 400;
}

.fw5 {
  font-weight: 500;
}

.fw6 {
  font-weight: 600;
}

.fw7 {
  font-weight: 700;
}

.blog {
  width: 45%;
  margin: 100px;
}

.blog-title {
  font-family: "PT Serif", sans-serif;
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  margin: 10px 0 20px 0;
  position: relative;
  display: block;
}
.blog-title:after {
  content: "";
  position: absolute;
  display: inline-block;
  height: 1px;
  width: 600px;
  background-color: rgb(200, 200, 200);
  bottom: -10px;
  left: 0;
}

.blog-date {
  font-family: "PT Serif", sans-serif;
  font-size: 14px;
  margin-bottom: 20px;
  font-style: italic;
}

.blog-text {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 150%;
  word-spacing: 1px;
}
.blog-text p {
  margin: 10px 0;
}

/*# sourceMappingURL=app.css.map */
